.bordered {
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 1px 1px #ccc;
}
table {
    border-spacing: 0;
    width: 100%;
    margin-top:25px;
}

.bordered th {
    background-color: #dce9f9;
    background-image: -moz-linear-gradient(center top , #ebf3fc, #dce9f9);
    border-top: medium none;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

#botones{
  margin-top: 20px;  
 }